<li class="person-list-item">
  <h3 class="person-header">Person Data</h3>
  <p class="person-properties"><!--expression:-->First Name</p>
  <p class="person-properties"><!--expression:-->Last Name</p>
  <p class="person-properties"><!--expression:-->Address Name</p>
  <p class="person-properties"><!--expression:-->Phone Number</p>
</li>
