<ul class="post-section">
  <p>TEST</p>
  {{#each this}}
    <li class="post">
      <h1 class="post-title">{{title}}TITLE TEST</h1>
      <p class="post-body">{{body}}BODY TEST</p>
    </li>
  {{/each}}
</ul>

<!-- view element will be is <ul class="post-section" -->
