<header>
  <button class="header-button-add-post">+</button>
  <p class="header-post-text">Click to add a blog post</p>
  <button class="header-button-navigate-home"><i class="fa fa-home"></i></button>
  <p class="header-post-text">Click to return to blog home</p>



</header>
{{#unless isHidden}}
  <form class="form-create-post">
    <input class="form-create-post-title" type="text" placeholder="Enter blog post title here">
    <textarea class="form-create-post-body">Enter blog post body here</textarea>
    <input class="form-create-post-submit" type="submit">
  </form>
{{/unless}}
