  <h1 class="post-title">{{title}}</h1>
  <p class="post-body">{{body}}</p>
  <p>posted on: {{created_at}}</p>
  <button class="post-button-update">Edit post</button>
  <button class="post-button-delete">Delete post</button>
