<h1 class="post-prompt">Edit your blog post below.</h1>
<form class="form-create-post">
  <label for="title">Title</label>
  <input class="form-create-post-title" type="text" name="title" placeholder="{{title}}">
  <label for="body">Body</label>
  <textarea class="form-create-post-body" name="body">{{body}}</textarea>
  <input class="form-create-post-submit" type="submit">
</form>
