  <h1 class="post-title">{{title}}</h1>
  <p class="post-body">{{body}}</p>
  <p>posted on: {{created_at}}</p>
  <a href="#update"><button class="post-button-update">Edit post</button></a>
  <a href="#delete"><button class="post-button-delete">Delete post</button></a>
