<form class="form-post">
  <input class="form-input-title" type="text" placeholder="Enter blog post title here">
  <textarea class="form-input-body" type="text" placeholder="Enter blog post body here"></textarea>
  <input class = "form-input-submit" type="submit">
</form>
