@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-font-color;
}

.form-input {
  display: block;
  width: 300px;
  margin: 20px;
}

.form-input-body {
  height: 100px;
}

.person-list-item {
  list-style: none;
  margin: 20px;
}

.post-list {
  display: inline-block;
  width: 25%;
  padding: 20px;
  border: 1px solid red;
}

.post-section {
  display: inline-block;
  width:70%;
  padding: 20px;
  border: 1px solid blue;
}
